body {
    background-color: #F5F6FA;

}

.col-2 {
    background-color: #455c06;
    min-height: 100vh;
    color: white;
    padding: 0;
}

.col-2 img {
    border-radius: 50%;
}

.col-2 h1 {
    font-size: 20px;
    margin-top: 10px;
}



.text-center button {
    background-color: #475569;
    color: white;
    border-radius: 50px;
    border: none;
    margin-top: 10px;
    width: 51%;
    padding: 5px;

}

.card span {
    width: 30%;

}

.lat{
    position: fixed;
    margin-top: 10px;

}